.Position__li {
    width: 90%;
    padding: 5px;
}

.note-text {
    width: 50%;
}

.add-note > form {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10px;
    width: 80%;
}

.note-container {
    padding: 3px;
}

.note-content{
    border: 1px solid lightcoral;
    border-radius: 3px;
}

.delete-edit-button {
    margin: 2px 0 2px 0;
    background: transparent;
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

div, span {
    font-family: "Times New Roman";
    font-size: 16px;
    position: relative;
    margin-top: -4px;
}

.price {
    font-size: 34px;
}

.vcenter {
    display: inline-block;
    float: none;
    horiz-align: right !important;
}

.border {
    border: solid 0.5px;
}

.leftmargin {
    margin-left: 10px;
}

.grey {
    background-color: darkgray;
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

