.note-container {
    padding: 1px;
    background-color: #ffffff;
}

.btn {
    display: flex;
    background-color: #9ba59d;
    box-shadow: none;
    border-radius: 3px;
    border: 0;
    color: #ffffff;
}
.div-spacer{
    flex: 1;
    align-self: center;
    justify-self: flex-start;
}
.div-font-awesome-chevron {
    display: flex;
    justify-content: flex-end;
}

.font-awesome-chevron{
    flex: 1;
    align-self: center;
    color: #dae8dd;
}
.btn-content {
    display: flex;
    flex: 1;
    align-self: center;
}

.note-detail {
    background-color: #ffffff;
}

.new-note-textarea,
.new-note-select {
    flex: 1;
    border: 1px solid #ddd;
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    width: 100%;
    border-radius: 4px;
}

.new-note-textarea {
    resize: vertical;
    width: 96%;
}
.note-content{
    text-align: start;
    padding: 0 10px 5px 10px;
    background-color: #ffffff;
    border-radius: 3px;
}

.new-note-form {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 30px;
    text-align: start;
}

.delete-edit-button {
    margin: 2px 0 2px 0;
    background: transparent;
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.leftmargin {
    margin-left: 10px;
}

.grey {
    background-color: darkgray;
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

