.BikeCollection {
  background: none;
  border: 0;
  font-size: smaller;
  text-decoration: none;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  margin-right: 20px;
  border-radius: 10px;
}

.BikeCollection:hover {
  cursor: pointer;
}

.BikeCollection,
.BikeCollection:visited {
  color: #555;
}

.BikeCollection__details_top {
  display: flex;
  flex-direction: row;
}

.BikeCollection__image {
  flex: 1;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.BikeCollection__details_right {
  flex: 1;
}

.BikeCollection__details {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
}

.BikeCollection__details h2 {
  margin: 0;
}

.BikeCollection__details {
  padding: 5px 0;
  text-align: center;
  opacity: 0.85;
}

.BikeCollection__details span {
  display: block;
  text-align: center;
  opacity: 0.5;
}
